---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>q.a.w.s.e.d.site</title>
	</head>
	<body>
		<main>
			<h1 class="text-2xl pb-1">
				Welcome to <span class="text-gradient">qawsed.site</span>
			</h1>
			<h2 class="text-xl font-semibold pb-5" id="acronym"></h2>
			<p>
				Hello my name is Fabian Morón Zirfas I am a Creative Technologist and
				educator living in Berlin who occasionally does stuff that involves
				things. Here are you will find student projects and educational
				resources:
			</p>
			<p>
				<ul>
					<li>
						<a href="https://rundgang2025.qawsed.site/"
							>Rundgang @ University of Arts in 2025 (WIP)</a
						>
					</li>
					<li>
						<a href="https://incode.cc/">incode.cc</a>
					</li>
					<li>
						<a href="https://readability.incode.cc/"
							>Readability in Code in 2024</a
						>
					</li>
					<li>
						<a href="https://rundgang2024.qawsed.site/"
							>Rundgang @ University of Arts in 2024</a
						>
					</li>
					<li>
						<a href="https://hawk22.qawsed.site/">
							Useless Websites @ HAWK Hildesheim in 2022</a
						>
					</li>
					<li>
						<a href="https://prototyping-machines.qawsed.site/"
							>Prototyping Machines @ University of Applied Sciences Potsdam in
							2017</a
						>
					</li>
					<li>
						<a href="https://ff6347.github.io/doing-papercraft/"
							>Doing Papercraft Workshop @ University of Applied Sciences
							Potsdam in 2016</a
						>
					</li>
					<li>
						<a href="https://ff6347.github.io/doing-projection-mapping/"
							>Doing Projection Mapping @ University of Applied Sciences Potsdam
							in 2016</a
						>
					</li>
					<li>
						<a href="https://gestalten-in-code.qawsed.site/"
							>Gestalten In Code @ University of Applied Sciences Potsdam in
							2016(~ish)</a
						>
					</li>
					<li>
						<a href="https://eingabe-ausgabe.qawsed.site/"
							>Eingabe Ausgabe @ University of Applied Sciences Potsdam in
							2015(~ish)</a
						>
					</li>
					<li>
						<a href="https://ff6347.github.io/Typography-And-Automation/"
							>Typography and Automation @ University of Applied Sciences
							Potsdam in 2012</a
						>
					</li>
				</ul>
			</p>
			<p>
				Have a look at some of my other locations on the web. See <a
					href="https://fabianmoronzirfas.me/">fabianmoronzirfas.me</a
				>, <a href="https://github.com/ff6347">ff6347 on GitHub</a>, <a
					href="https://inpyjamas.dev/">inpyjamas.dev</a
				> or <a href="https://incode.cc/">incode.cc</a>. Teaching currently at <a
					href="https://www.hbk-bs.de/">University of Arts Braunschweig</a
				>. Used to work at <a
					href="https://www.fh-potsdam.de/studium-weiterbildung/studiengaenge/interfacedesign-b"
					>Interface Design Department @ University of Applied Sciences Potsdam</a
				>, <a
					href="https://web.archive.org/web/20181224084241/https://www.ixds.com/"
					>ixds</a
				>, <a href="https://citylab-berlin.org">CityLAB Berlin</a> and
				<a href="https://ts.berlin/">Technologiestiftung Berlin</a>.
			</p>
		</main>
	</body>
	<script is:inline>
		const dataset = {
			q: ['Quantum', 'Quantitive', 'Query'],
			a: ['Async', 'Automatic', 'Autonomous'],
			w: ['Wild', 'Wobbely', 'Wired'],
			s: ['Supercharge', 'Steroids', 'Simple'],
			e: ['Explore', 'Endangered'],
			d: ['Documentation'],
		};
		const acronym = Object.keys(dataset).map(
			(key) => dataset[key][Math.floor(Math.random() * dataset[key].length)],
		);
		document.getElementById('acronym').textContent = acronym.join(' ');
	</script>
</html>

<style>
	:root {
		--pink-lace: #f2d7eeff;
		--yellow-green: #85cb33ff;
		--dark-purple: #27233aff;
		--red-crayola: #ec0b43ff;
		--sizzling-red: #e84855ff;

		--primary-color: var(--red-crayola);
		--secondary-color: var(--yellow-green);
		--primary-gradient: linear-gradient(
			0deg,
			var(--primary-color),
			var(--secondary-color)
		);
	}
	* {
		margin: 0;
		padding: 0;
		font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
			sans-serif;
	}
	.text-gradient {
		font-weight: 900;
		background-image: var(--primary-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		padding: 2rem 1rem;
		margin: 0 auto;
	}
	p {
		max-width: 80ch;
		padding-top: 2rem;
	}
</style>
