---
const dataset: Record<string, string[]> = {
	q: ["Quantum", "Quantitive", "Query"],
	a: ["Async", "Automatic", "Autonomous"],
	w: ["Wild", "Wobbely", "Wired"],
	s: ["Supercharge", "Steroids", "Simple"],
	e: ["Explore", "Endangered"],
	d: ["Documentation"],
};
const acronym = Object.keys(dataset).map(
	(key) => dataset[key][Math.floor(Math.random() * dataset[key].length)],
); //?
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>q.a.w.s.e.d.site</title>
	</head>
	<body>
		<main>
			<h1 class="text-2xl pb-1">
				Welcome to <span class="text-gradient">qawsed.site</span>
			</h1>
			<h2 class="text-xl font-semibold pb-5">The: {acronym.join(" ")}</h2>
			<p>
				Hello my name is Fabian Morón Zirfas I am a Creative Technologist and
				educator living in Berlin who occasionally does stuff that involves
				things. Have a look around. See <a href="https://inpyjamas.dev/"
					>https://inpyjamas.dev/</a
				>, <a href="https://fabianmoronzirfas.me/"
					>https://fabianmoronzirfas.me/</a
				>, <a href="https://github.com/ff6347">https://github.com/ff6347</a>, <a
					href="https://citylab-berlin.org">https://citylab-berlin.org</a
				>, <a href="https://ts.berlin/">https://ts.berlin/</a>, soon <a
					href="https://www.hbk-bs.de/">https://www.hbk-bs.de/</a
				>, ex <a href="https://www.hbk-bs.de/">https://www.hbk-bs.de/</a>, ex <a
					href="https://www.fh-potsdam.de/studium-weiterbildung/studiengaenge/interfacedesign-b"
					>https://interface.fh-potsdam.de</a
				>
			</p>
		</main>
	</body>
</html>

<style>
	:root {
		--pink-lace: #f2d7eeff;
		--yellow-green: #85cb33ff;
		--dark-purple: #27233aff;
		--red-crayola: #ec0b43ff;
		--sizzling-red: #e84855ff;

		--primary-color: var(--red-crayola);
		--secondary-color: var(--yellow-green);
		--primary-gradient: linear-gradient(
			0deg,
			var(--primary-color),
			var(--secondary-color)
		);
	}
	* {
		margin: 0;
		padding: 0;
		font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
			sans-serif;
	}
	.text-gradient {
		font-weight: 900;
		background-image: var(--primary-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		max-width: 50%;
		margin: 0 auto;
	}
</style>
